@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.global-container {
  background-color: #f9f9f9;
  min-height: 100vh;
}


/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2 {
  font-size: 55px;
}

.not-found p {
  font-size: 20px;
}

/* NavBar */

.navbar-container {
  position: sticky;
  top: 0;
  background: #13264f;
  height: 92px;
  width: 100%;
  z-index: 20;
}

.nav-bar {
  height: 100%;
  background: #13264f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1170px;
}

.logo-ctn {
  z-index: 10;
}

.logo {
  max-width: 120px;
  margin-top: 31px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar h2 {
  font-size: 40px;
}

.nav-bag {
  display: flex;
  align-items: top;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: white;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

/* Home */

.home-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

.card {
  width: 350px;
  margin-top: 5rem;
  background-color: white;
  padding: 1.5rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  border-radius: 5px;
  margin-right: 1rem;
}

.card img {
  max-width: 150px;
}

.card p {
  line-height: 25px;
  margin-top: 30px;
}

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  width: 350px;
  max-width: 100%;
  margin: 0 1rem 2rem 1rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  background-color: white;
  overflow: hidden;
  height: 280px;
}

.product a {
  text-decoration: none;
  color: black;
}

.product .infos-ctn {
  padding: 1rem;
}

.product .img-ctn {
  height: 185px;
  width: 100%;
  position: relative;
}

.product h3 {
  font-size: 15px;
  font-weight: 400;
}

.product img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  object-position: center;
}

.product .details-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.product .details-infos {
  color: #838383;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .dotDivider {
  font-size: 10px;
}

.product .price-ctn {
  position: absolute;
  background-color: rgba(0, 44, 56, 0.7);
  color: white;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-align: start;
  font-weight: 100;
  font-size: 14px;
  line-height: 25px;
}

.product .price-ctn span {
  font-weight: 500;
  font-size: 16px;
}

.product button,
.product-add-to-cart {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-add-to-cart {
  padding: 0 2rem;
  margin-top: 0;
  width: 100%;
}

.product-contact {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #f9f9f9;
  color: #4b70e2;
  border: 1px solid #4b70e2;
  outline: none;
  cursor: pointer;
  padding: 0 2rem;

}

/* Cart */
.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  height: 100%;
  margin: auto 1rem auto 0;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border-radius: 5px;
}

.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* products details */

.inputOptions-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
}

.inputOptions-group input {
  margin: 10px 0;
}

.btn-group {
  text-align: center;
}

.btn-group p {
  margin: 20px 0;
}

.input-date {
  width: 100%;
  height: 50px;
  padding: 0 5px;
  margin: 20px 0;
}

.caracteristics {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  border-top: 1px solid #d2d6de;
  border-bottom: 1px solid #d2d6de;
  color: #434343;
  list-style: none;
}

.about {
  line-height: 1.6;
  color: #434343;
  border-bottom: 1px solid #d2d6de;
  padding: 2rem 0;
}

.about h4,
.details-global h4 {
  margin-bottom: 1rem;
}

.details-global,
.equipements-global,
.options-global {
  padding: 2rem 0;
  border-bottom: 1px solid #d2d6de;
  color: #434343;

}

.details {
  list-style: none;
}

.details .column {
  display: flex;
}

.details .column p {
  margin: 1rem 0;
}

.details .column p:first-child {
  width: 50%;
}

.bold {
  font-weight: bold;
}

.equipements .column {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.equipements .column p {
  width: 50%;
}

.equipements .column .utilisation {
  font-weight: bold;
}

.equipements .column .options {
  width: 100%;
  display: flex;
}


.equipements li {
  display: flex;
}

.equipements p {
  margin: 10px 0;
}

.equipements-global h5 {
  margin: 1.5rem 0 0.5rem 0;
}

.guide-infos {
  display: flex;
  justify-content: space-between;
}

.text-muted {
  color: #838383;
  font-size: 90%;
  font-weight: 100;
  margin-bottom: 1rem;
}

input.inputBox {
  font-size: 15px;
  width: 210px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}


/* Slider */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f9f9f9 !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #f9f9f9 !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 10px !important;
}

.swiper-pagination-bullet {
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}


/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout .cart-login {
  background-color: yellow;
  color: black;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Admin */

.link-active {
  color: #4b70e2;
  border-left: 3px solid #4b70e2;
  padding-left: 5px;
  border-radius: 2px;
}

.link-inactive {
  color: rgb(97, 97, 97);
}

/* Admin --- Create product */

.dropdown button {
  text-align: start;
  gap: 12px;
  height: 56px;
  padding: 0 16px;
  background-color: transparent;
  border: 0;
  color: black;
}

.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.dropdown>button {
  gap: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #13264f;
}

.menu.open~button::after,
.dropdown>button:hover::after {
  transform: scale(1);
  opacity: 1;
}

.dropdown>button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #4b70e2;
  transform-origin: 50% 0%;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

.menu {
  position: absolute;
  top: 60px;
  overflow: hidden;
  width: 100%;
  background: #4b70e2;
  z-index: 10;
  display: grid;
  visibility: hidden;
  opacity: 0;
  translate: 0 20px;
  transition: 0.3s;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
}

.menu>label {
  display: flex;
  gap: 8px;
  padding: 10px;
  font-size: 15px;
  font-family: inherit;
  color: #f9f9f9;
  cursor: pointer;
  align-items: center;
}

.menu>label:hover {
  background: #13264f;
}

.placeholder {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsive */

@media (max-width: 665px) {

  /* NavBar */
  .nav-bar {
    padding: 0 1rem;
  }

  .nav-bar h2 {
    font-size: 30px;
  }

  /* Cart */
  .cart-container {
    padding: 2rem;
  }

  .cart-container .titles {
    display: none;
  }

  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .cart-item .cart-product-total-price {
    justify-self: left;
  }

  .cart-summary {
    flex-direction: column;
  }

  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}